.container {
    display: flex;
    height: 120vh;
    padding: 0 5vw;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.top {
    flex: 2;
    display: flex;
    gap: 2px;
}

.topLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vh;
    padding-right: 6vw;
}

.texts {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 52px;
    font-weight: 700;
}

.subtitleContainer {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    display: flex;
    align-items: center;
    width: 100%;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    justify-self: flex-end;
    color: var(--bgBrand);
    padding-right: 2px;
    min-width: max-content;
}

.hr {
    height: 2px;
    background: rgb(182,154,121);
    background: linear-gradient(90deg, rgba(182,154,121,1) 0%, rgba(255,216,162,1) 50%, rgba(182,154,121,1) 100%);
    width: 100%; 
    margin-left: 2px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.cardContainer {
    flex: 1;
}

.topRight {
    flex: 2.5;
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.topRightUp {
    flex: 1;
    display: flex;
    gap: 2px;
}

.topRightDown {
    flex: 1;
    display: flex;
    gap: 2px;
}

.bottom {
    flex: 1;
    display: flex;
    gap: 2px;
}



@media (max-width: 600px) {

    .container {
        height: 250vh;
        margin-top: 4vh;
        padding: 0;
    }

    .header {
        flex: 1;
        padding: 0 5vw;
        align-items: center;
    }

    .title {
        font-size: 44px;
    }

    .subtitle {
        font-size: 18px;
    }

    .top {
        flex-direction: column;
    }

    .topLeft {
        gap: 3vh;
        flex: 1.5;
    }

    .topRightUp {
        flex-direction: column;
    }

    .topRightDown {
        flex-direction: column;
    }

    .bottom {
        flex-direction: column;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
    }

}


