.form {
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw;
    gap: 3vh;
}

.formItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.label {
    color: var(--text);
}

.input {
    width: 100%;
    height: 20px;
    padding: 15px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    color: var(--text);
    font-size: 14px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--bgBrand); /* Keep the solid color for the bottom border */
    border-image: linear-gradient(90deg, rgba(182,154,121,1) 0%, rgba(255,216,162,1) 50%, rgba(182,154,121,1) 100%);
    border-image-slice: 1; /* Ensure the border image is applied to the whole border */
    color: var(--text);
}

.input:-webkit-autofill:active {
    background-color: transparent !important;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    position: absolute;
    bottom: -16px;
    left: 1vw;
    font-size: 12px;
    color: crimson;
}

.textarea {
    height: 50px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    color: var(--text);
    resize: none;
}

.textarea:focus {
    outline: none;
    border-bottom: 2px solid var(--bgBrand); /* Keep the solid color for the bottom border */
    border-image: linear-gradient(90deg, rgba(182,154,121,1) 0%, rgba(255,216,162,1) 50%, rgba(182,154,121,1) 100%);
    border-image-slice: 1; /* Ensure the border image is applied to the whole border */
    color: var(--text);
}

.button {
    background-color: var(--bgBrand);
    border: none;
    padding: 15px;
    max-width: max-content;
    color: var(--textBright);
    align-self: flex-end;
    cursor: pointer;
}

.button:hover {
    background-color: var(--bgHoverOpaque);
}

.disabled {
    background-color: lightgrey;
    border: none;
    padding: 15px;
    max-width: max-content;
    color: #222222;
    align-self: flex-end;
}

.success {
    background-color: rgb(17, 164, 17);
    font-weight: 700;
    color: var(--bg);
}

.success:hover {
    background-color: rgb(17, 164, 17);
    font-weight: 700;
    color: var(--bg);
}