.button {
    padding: 15px 20px;
    background-color: var(--text);
    color: var(--textBright);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--bgBrand);
}