.container {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 20;
}

.boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
} 

.paragraph {
    text-align: center;
    color: #fff;
}

.closeButton {
    display: flex;
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}