:root {
  --bg: #fff;
  --bgBrand: #55504d;  /* #7385B5 */
  --bgBright: #55504d;   /* #8EA4E0*/
  --bgDark: #55504d;   /*#58668B*/
  --text: #333333;    /* #222836 */
  --textBright: #FFFAFA;
  --textDark: #3D4760;
  --bgHover: #d1c4e9;
  --bgHoverOpaque: #c1c1c1b2;
  --bgBack: #764abc;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: var(--text);
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
