.container {
    height: 120vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
}

.titleContainer {
    padding: 0 5vw;
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.title {
    font-size: 52px;
    font-weight: 700;
}

.hr {
    width: 150px;
    background-color: var(--bgBrand);
    height: 2px;
    background: rgb(182,154,121);
    background: linear-gradient(90deg, rgba(182,154,121,1) 0%, rgba(255,216,162,1) 50%, rgba(182,154,121,1) 100%);
}

.top {
    flex: 4;
    display: flex;
}

.typeCardContainer {
    flex: 1;
}

.bottom {
    flex: 4;
    display: flex;
    flex-direction: row;
}


@media (max-width: 600px) {

    .container {
        height: 240vh;
        width: 100vw;
    }

    .titleContainer {
        flex: 1;
    }

    .title {
        font-size: 44px;
        font-weight: 700;
    }

    .top {
        flex-direction: column;
    }

    .bottom {
        flex-direction: column;
    }

}