.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin: 0vh 10vw 20vh 10vw;
}


@media (max-width: 600px) {

    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }

}


@media (min-width: 601px) and (max-width: 999px) {

    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }

}

