.titleContainer {
    padding: 5vh 5vw;
    flex: 3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.title {
    font-size: 34px;
}

.hr {
    width: 50px;
    background-color: var(--bgBrand);
    height: 7px;
}

.subtitle {
    margin-top: 20px;
    width: 50vw;
    line-height: 30px;
}
