.container {
    display: flex;
    background-color: var(--text);
    padding: 10vh 5vw;
    color: var(--textBright);
    width: 100vw;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    display: none;
}

.left {
    flex: 1;
    background-color: var(--text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.imgContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactTitle {
    font-size: 24px;
}

.iconsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.marginLeft {
    margin-left: 15px;
}

.iconText {
    line-height: 25px;
}

.socialContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-direction: row;
}

.socialIcon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    color: #fff;
    background-color: #55504d;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.whatsapp:hover {
    background-color: #25D366; 
}

.facebook:hover {
    background-color: #3B5999;
}

.instagram:hover {
    background-color: #E4405F;
}


@media (max-width: 600px) {

    .left {
        flex-direction: column;
        gap: 10vh;
    }

    .iconsContainer {
        margin-right: 20px;
    }

}


@media (max-height: 700px) and (min-width: 1000px) {

    .container {
        padding: 20vh 5vw;
    }

}