.container {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10vh 5vw 10vh 5vw;
}

.left {
    display: flex;
    flex: 1;
    height: 100%;
}

.orderLeft {
    order: 1; 
}
  
.orderRight {
    order: 2; 
}

.fadeInScroll {
    width: 100%;
    height: 100%;
    display: hidden;
    margin: 0;
    padding: 0;
    opacity: 0;
    scale: 0.8;
    transform: translateX(-20vh);
    visibility: hidden;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, scale 0.3s ease-out;
    will-change: opacity, visibility, scale;
}

.fadeInScrollLeft {
    transform: translateX(20vh);
}

.unhidden {
    visibility: visible;
    opacity: 1;
    scale: 1;
}

.iconContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    overflow-y: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.visible {
    opacity: 1;
}

.icon {
    fill: #fff;
    width: 100%;
    height: auto;
    
}

.right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
}

.rightInverse {
    justify-content: flex-start;
}

.textContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2vh 1vw;
    gap: 1vh;
    /* background-color: var(--text); */
    background: rgb(95,92,88);
    /* background: linear-gradient(90deg, rgba(95,92,88,1) 0%, rgba(130,127,124,1) 34%, rgba(95,92,88,1) 100%); */
    opacity: 0;
    transform: translateX(-20vh);
    visibility: hidden;
    transition: opacity 1s ease-in, transform 1s ease-out;
    will-change: opacity, visibility, scale;
}

.textContainerRight {
    transform: translateX(20vh);
}

.textContainerUnhidden {
    visibility: visible;
    opacity: 1;
    transform: none;
}

.title {
    font-size: 24px;
    color: var(--textBright);
}

.hr {
    width: 100px;
    background-color: var(--text);
    height: 4px;
    color: var(--textBright);
    margin-top: 10px;
}

.subtitle {
    font-size: 16px;
    color: var(--textBright);
    margin-bottom: 5px;
    font-weight: 700;
}

.arrowContainer {
    display: none;
}

.text {
    font-size: 14px;
    line-height: 2rem;
    font-weight: 400;
    color: var(--textBright);
    white-space: pre-line;
}


@media (max-width: 600px) {

    .container {
        height: 100%;
        margin-bottom: 10vh;
    }

    .wrapper {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .left {
        flex: 0;
        width: 100%;
    }

    .fadeInScroll {
        transform: none;
    }

    .iconContainer {
        padding: 0;
        align-items: center;
        background-color: var(--text);
        height: 100%;
        width: 100%;
    }

    .icon {
        filter: none;   
    }

    .right {
        flex: 0;
        justify-content: center;
        width: 100%;
    }

    .textContainer {
        width: 100%;
        padding: 2vh 3vw;
        height: 100%;
        justify-content: flex-start;
        position: relative;
    }

    .arrowContainer {
        display: flex;
        position: absolute;
        font-size: 30px;
        z-index: 3;
        right: 40px;
        top: 40px;
        color: #fff;
    }

    .text {
        display: none;
    }

    .textVisible {
        display: flex;
    }

}


@media (max-height: 700px) and (min-width: 1000px) {

    .container {
        height: 80vh;
    }

    
    .text {
        font-size: 14px;
        line-height: 1.5rem;
    }
    

}