.container {
    height: 100%;
    margin: 10vh 10vw 10vh 10vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.serviceContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
    padding: 50px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}

.hr {
    width: 20%;
    transition: width .5;
    color: var(--bgBrand);
}

.description {
    flex: 1;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

.serviceContainer:hover hr {
    transition: width 0.5s ease;
    width: 50%;
    /* background: rgb(182,154,121);
    background: linear-gradient(90deg, rgba(182,154,121,1) 0%, rgba(255,216,162,1) 50%, rgba(182,154,121,1) 100%); */
}


@media (max-height: 700px) and (min-width: 1000px) {

    .container {
        margin: 15vh 3vw 15vh 3vw;
    }

}


@media (max-width: 600px) {

    .container {
        height: 100vh;
        padding-bottom: 10vh;
        margin: 5vh 5vw 5vh 5vw;
    }

    .description {
        line-height: 25px;
        font-size: 14px;
        font-weight: 300;
        text-align: justify;
    }

    .paragraph {
        font-size: 14px;
    }
}