.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 60vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1.5;
    padding: 5vh;
    /* background: rgb(95,92,88);
    background: linear-gradient(90deg, rgba(95,92,88,1) 0%, rgba(130,127,124,1) 34%, rgba(95,92,88,1) 100%); */
    background-color: var(--text);
    /* background-color: var(--bgBrand); */
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.title {
    font-size: 24px;
    color: var(--textBright);
}

.hr {
    width: 100px;
    background-color: var(--text);
    height: 2px;
    /* color: var(--textBright); */
    margin-top: 10px;
    background: rgb(182,154,121);
    background: linear-gradient(90deg, rgba(182,154,121,1) 0%, rgba(255,216,162,1) 50%, rgba(182,154,121,1) 100%);
}

.subtitle {
    font-size: 14px !important;
    color: var(--textBright);
    margin-bottom: 5px;
    font-weight: 500;
    font-style: italic;
}

.arrowContainer {
    display: none;
}

.text {
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--textBright);
    white-space: pre-line;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: var(--textBright);
    z-index: 10;
    background-color: #302b2b62;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.right {
    flex: 2;
    display: flex;
    width: 35%;
}

.slider {
    width: 35%;
}



@media (max-width: 600px) {

    .box {
      width: 95vw;
      height: 80vh;
      flex-direction: column;
    }

    .left {
        order: 2;
    }

    .right {
        order: 1;
        width: 100%;
    }

}


@media (max-height: 700px) and (min-width: 1000px) {

    .box {
        width: 80vw;
        height: 75vh;
    }

    .title {
        font-size: 24px;
    }

    .hr {
        height: 2px;
    }

    .subtitle {
        font-size: 14px;
    }

    .text {
        font-size: 12px;
    }

}



@media (min-width: 601px) and (max-width: 999px) {

    .box {
        width: 95vw;
        height: 80vh;
    }

}


  